Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entiti" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entiti" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="copias">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="fecha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="pago" type="xs:double" />
      <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="copias" nillable="true" type="tns:copias" />
</xs:schema>